$govuk-assets-path: "/bank-account-verification-frontend/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/bank-account-verification-frontend/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
